/* On corrige le HTML de base */

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility
}

/* On met un padding-top au body */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #0c0c0c;
  color: white;
}

/* On utilise le style de Udacity sur la class card de UIkit */

.uk-card {
  background: transparent;
  border: 1px solid white;
}

.uk-card-default {
  color: white;
}

a {
  color: white !important;
}

/* On modifie légèrement les h1 et h3 */

h1 {
  font-weight: 700;
  color: white !important;
  font-size: 1.9rem !important;
}

h3 {
  font-weight: 700;
  margin-top: 0em;
  color: white !important;
}

h6 {
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: -0.05rem;
  color: white !important;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 0.75em;
}

/* On stylise les infos */

.infos {
  text-align: center;
  font-size: 1.85rem;
  font-weight: 200;
  color: white !important;
}

h5 {
  margin-top: 0px;
  font-variant: small-caps;
  color: white;
  letter-spacing: -0.06rem;
  font-weight: 400;
  font-size: 0.75rem;
}
